body {
    background-color: #00272d;
}

input, select, button {
    padding: 10px;
}

.container {
    width: 700px;
    background-color: #0c7e7e;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.mensagem-usuario {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: bisque;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.oculto {
    display: none;
}

#titulo { 
    margin-bottom: 50px;
}

#resultado {
    margin-top: 50px;
    font-weight: bold;
}